In [1]:
from fredapi import Fred
from datetime import date
import yfinance as yf
import pandas as pd

def load_api_key(filepath):
    """Load and return the API key from a file."""
    with open(filepath, 'r') as file:
        api_key = file.read().strip()  # .strip() removes any leading/trailing whitespace
    return api_key

    # # Inflation Rates
    # inflation_rates = fred.get_series('CPIAUCSL', start='1999-01-01', end=today)

    # # GDP
    # gdp = fred.get_series('GDP', start='1999-01-01', end=today)

    # # Unemployment Rates
    # unemployment_rates = fred.get_series('UNRATE', start='1999-01-01', end=today)

    # # Consumer Confidence Index (CCI)
    # cci = fred.get_series('UMCSENT', start='1999-01-01', end=today)

    # print(interest_rates.isnull().sum())          # 695 nan
    # print(inflation_rates.isnull().sum())         # 0 nan
    # print(gdp.isnull().sum())                     # 4 nan
    # print(unemployment_rates.isnull().sum())      # 0 nan
    # print(cci.isnull().sum())                     # 210 nan

    # df = sp500.merge(nasdaq, how='inner', on='Date', suffixes=('', '_nasdaq'))
    # df = df.merge(dow_jones, how='inner', on='Date', suffixes=('', '_dow_jones'))

    # # Merge with macroeconomic data
    # df = df.merge(interest_rates, how='inner', on='Date', suffixes=('', '_interest_rate'))
    # df = df.merge(inflation_rates, how='inner', on='Date', suffixes=('', '_inflation_rate'))
    # df = df.merge(gdp, how='inner', on='Date', suffixes=('', '_gdp'))
    # df = df.merge(unemployment_rates, how='inner', on='Date', suffixes=('', '_unemployment_rate'))
    # df = df.merge(cci, how='inner', on='Date', suffixes=('', '_cci'))

    # print(df)

In [2]:
today = date.today()
api_key = load_api_key("../keys/fred_api.txt")
# You need an API key from FRED
fred = Fred(api_key=api_key)

# Interest Rates
interest_rates = fred.get_series('DGS10', start='1999-01-01', end=today)

# Inflation Rates
inflation_rates = fred.get_series('CPIAUCSL', start='1999-01-01', end=today)
# GDP
gdp = fred.get_series('GDP', start='1999-01-01', end=today)
# Unemployment Rates
unemployment_rates = fred.get_series('UNRATE', start='1999-01-01', end=today)
# Consumer Confidence Index (CCI)
cci = fred.get_series('UMCSENT', start='1999-01-01', end=today)

In [3]:
today = date.today()

# Download data for S&P 500
sp500 = yf.download('^GSPC', start='1999-01-01', end=today)
nasdaq = yf.download('^IXIC', start='1999-01-01', end=today)
dow_jones = yf.download('^DJI', start='1999-01-01', end=today)

# Download sector data
tech_sector = yf.download('XLK', start='1999-01-01', end=today)

sp500.reset_index(inplace=True)
nasdaq.reset_index(inplace=True)
dow_jones.reset_index(inplace=True)
tech_sector.reset_index(inplace=True)

api_key = load_api_key("../keys/fred_api.txt")
# You need an API key from FRED
fred = Fred(api_key=api_key)

# Interest Rates
interest_rates = fred.get_series('DGS10', start='1999-01-01', end=today)
interest_rates = interest_rates.reset_index()
interest_rates.columns = ['Date', 'Value_interest']
# Ensure 'Date' column is in datetime format
interest_rates['Date'] = pd.to_datetime(interest_rates['Date'])
# Filter the DataFrame to include only rows from '1999-01-04' onwards
interest_rates = interest_rates[interest_rates['Date'] >= '1999-01-01']
interest_rates.iloc[0, interest_rates.columns.get_loc('Value_interest')] = 4.69

# Inflation Rates
inflation_rates = fred.get_series('CPIAUCSL', start='1999-01-01', end=today)
inflation_rates = inflation_rates.reset_index()
inflation_rates.columns = ['Date', 'Value_inflation']
# Ensure 'Date' column is in datetime format
inflation_rates['Date'] = pd.to_datetime(inflation_rates['Date'])
# Filter the DataFrame to include only rows from '1999-01-04' onwards
inflation_rates = inflation_rates[inflation_rates['Date'] >= '1999-01-01']

# GDP
gdp = fred.get_series('GDP', start='1999-01-01', end=today)
gdp = gdp.reset_index()
gdp.columns = ['Date', 'Value_gdp']
# Ensure 'Date' column is in datetime format
gdp['Date'] = pd.to_datetime(gdp['Date'])
# Filter the DataFrame to include only rows from '1999-01-04' onwards
gdp = gdp[gdp['Date'] >= '1999-01-01']


# Unemployment Rates
unemployment_rates = fred.get_series('UNRATE', start='1999-01-01', end=today)
unemployment_rates = unemployment_rates.reset_index()
unemployment_rates.columns = ['Date', 'Value_unemployment']
# Ensure 'Date' column is in datetime format
unemployment_rates['Date'] = pd.to_datetime(unemployment_rates['Date'])
# Filter the DataFrame to include only rows from '1999-01-04' onwards
unemployment_rates = unemployment_rates[unemployment_rates['Date'] >= '1999-01-01']


# Consumer Confidence Index (CCI)
cci = fred.get_series('UMCSENT', start='1999-01-01', end=today)
cci = cci.reset_index()
cci.columns = ['Date', 'Value_cci']
# Ensure 'Date' column is in datetime format
cci['Date'] = pd.to_datetime(cci['Date'])
# Filter the DataFrame to include only rows from '1999-01-04' onwards
cci = cci[cci['Date'] >= '1999-01-01']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
sp500 = sp500[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
sp500['Date'] = pd.to_datetime(sp500['Date'])
sp500 = sp500[sp500['Date'] >= '1999-01-01']
nasdaq = nasdaq[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
nasdaq['Date'] = pd.to_datetime(nasdaq['Date'])
nasdaq = nasdaq[nasdaq['Date'] >= '1999-01-01']
dow_jones = dow_jones[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
dow_jones['Date'] = pd.to_datetime(dow_jones['Date'])
dow_jones = dow_jones[dow_jones['Date'] >= '1999-01-01']
tech_sector = tech_sector[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
tech_sector['Date'] = pd.to_datetime(tech_sector['Date'])
tech_sector = tech_sector[tech_sector['Date'] >= '1999-01-01']

sp500 = sp500.set_axis(['Date', 'Open_sp500', 'High_sp500', 'Low_sp500', 'Close_sp500', 'Volume_sp500'], axis=1)
nasdaq = nasdaq.set_axis(['Date', 'Open_nasdaq', 'High_nasdaq', 'Low_nasdaq', 'Close_nasdaq', 'Volume_nasdaq'], axis=1)
dow_jones = dow_jones.set_axis(['Date', 'Open_dow_jones', 'High_dow_jones', 'Low_dow_jones', 'Close_dow_jones', 'Volume_dow_jones'], axis=1)
tech_sector = tech_sector.set_axis(['Date', 'Open_tech_sector', 'High_tech_sector', 'Low_tech_sector', 'Close_tech_sector', 'Volume_tech_sector'], axis=1)

C:\Users\blkeu\AppData\Local\Temp\ipykernel_3264\2356300695.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_sector['Date'] = pd.to_datetime(tech_sector['Date'])

In [5]:
all_dates = pd.concat([
    interest_rates['Date'],
    inflation_rates['Date'],
    gdp['Date'],
    unemployment_rates['Date'],
    cci['Date'],
    sp500['Date'],
    nasdaq['Date'],
    dow_jones['Date'],
    tech_sector['Date']
]).drop_duplicates().sort_values().reset_index(drop=True)

# Create a DataFrame to start merging
df_merged = pd.DataFrame({'Date': all_dates})

# Merge with economic indicators
df_merged = pd.merge(df_merged, interest_rates, on='Date', how='left')
df_merged = pd.merge(df_merged, inflation_rates, on='Date', how='left')
df_merged = pd.merge(df_merged, gdp, on='Date', how='left')
df_merged = pd.merge(df_merged, unemployment_rates, on='Date', how='left')
df_merged = pd.merge(df_merged, cci, on='Date', how='left')

# Merge with market data
df_merged = pd.merge(df_merged, sp500, on='Date', how='left')
df_merged = pd.merge(df_merged, nasdaq, on='Date', how='left')
df_merged = pd.merge(df_merged, dow_jones, on='Date', how='left')
df_merged = pd.merge(df_merged, tech_sector, on='Date', how='left')

# Display the resulting DataFrame
print(df_merged.head())

        Date  Value_interest  Value_inflation  Value_gdp  Value_unemployment  \
0 1999-01-01            4.69            164.7   9411.682                 4.3
1 1999-01-04            4.69              NaN        NaN                 NaN
2 1999-01-05            4.74              NaN        NaN                 NaN
3 1999-01-06            4.73              NaN        NaN                 NaN
4 1999-01-07            4.77              NaN        NaN                 NaN

   Value_cci   Open_sp500   High_sp500    Low_sp500  Close_sp500  ...  \
0      103.9          NaN          NaN          NaN          NaN  ...
1        NaN  1229.229980  1248.810059  1219.099976  1228.099976  ...
2        NaN  1228.099976  1246.109985  1228.099976  1244.780029  ...
3        NaN  1244.780029  1272.500000  1244.780029  1272.339966  ...
4        NaN  1272.339966  1272.339966  1257.680054  1269.729980  ...

   Open_dow_jones  High_dow_jones  Low_dow_jones  Close_dow_jones  \
0             NaN             NaN            NaN              NaN
1     9184.009766     9350.330078    9122.469727      9184.269531
2     9184.780273     9338.740234    9182.980469      9311.190430
3     9315.419922     9562.219727    9315.419922      9544.969727
4     9542.139648     9542.139648    9426.019531      9537.759766

   Volume_dow_jones  Open_tech_sector  High_tech_sector  Low_tech_sector  \
0               NaN               NaN               NaN              NaN
1        89410000.0          32.65625          33.56250         32.59375
2        79860000.0          33.06250          34.03125         33.06250
3       103340000.0          34.68750          34.93750         34.40625
4        88290000.0          34.50000          35.03125         34.28125

   Close_tech_sector  Volume_tech_sector
0                NaN                 NaN
1          33.000000            650600.0
2          33.843750            295200.0
3          34.843750            624700.0
4          34.734375            534600.0

[5 rows x 26 columns]

In [6]:
print(df_merged.isnull().sum())

Date                     0
Value_interest         358
Value_inflation       6427
Value_gdp             6631
Value_unemployment    6427
Value_cci             6428
Open_sp500             323
High_sp500             323
Low_sp500              323
Close_sp500            323
Volume_sp500           323
Open_nasdaq            323
High_nasdaq            323
Low_nasdaq             323
Close_nasdaq           323
Volume_nasdaq          323
Open_dow_jones         323
High_dow_jones         323
Low_dow_jones          323
Close_dow_jones        323
Volume_dow_jones       323
Open_tech_sector       323
High_tech_sector       323
Low_tech_sector        323
Close_tech_sector      323
Volume_tech_sector     323
dtype: int64

In [13]:
columns_to_fill = ['Value_inflation', 'Value_gdp', 'Value_unemployment', 'Value_cci']
df_merged[columns_to_fill] = df_merged[columns_to_fill].fillna(method='ffill')

# # Then backward fill to handle any remaining NaN values at the beginning
# df_merged[columns_to_fill] = df_merged[columns_to_fill].fillna(method='bfill')

# Display the resulting DataFrame
print(df_merged)

           Date  Value_interest  Value_inflation  Value_gdp  \
1    1999-01-04            4.69          164.700   9411.682
2    1999-01-05            4.74          164.700   9411.682
3    1999-01-06            4.73          164.700   9411.682
4    1999-01-07            4.77          164.700   9411.682
5    1999-01-08            4.86          164.700   9411.682
...         ...             ...              ...        ...
6727 2024-06-18            4.22          313.225  28255.928
6728 2024-06-19             NaN          313.225  28255.928
6729 2024-06-20            4.25          313.225  28255.928
6730 2024-06-21            4.25          313.225  28255.928
6731 2024-06-24             NaN          313.225  28255.928

      Value_unemployment  Value_cci   Open_sp500   High_sp500    Low_sp500  \
1                    4.3      103.9  1229.229980  1248.810059  1219.099976
2                    4.3      103.9  1228.099976  1246.109985  1228.099976
3                    4.3      103.9  1244.780029  1272.500000  1244.780029
4                    4.3      103.9  1272.339966  1272.339966  1257.680054
5                    4.3      103.9  1269.729980  1278.239990  1261.819946
...                  ...        ...          ...          ...          ...
6727                 4.0       77.2  5476.149902  5490.379883  5471.319824
6728                 4.0       77.2          NaN          NaN          NaN
6729                 4.0       77.2  5499.990234  5505.529785  5455.560059
6730                 4.0       77.2  5466.770020  5478.310059  5452.029785
6731                 4.0       77.2  5459.580078  5490.660156  5447.589844

      Close_sp500  ...  Open_dow_jones  High_dow_jones  Low_dow_jones  \
1     1228.099976  ...     9184.009766     9350.330078    9122.469727
2     1244.780029  ...     9184.780273     9338.740234    9182.980469
3     1272.339966  ...     9315.419922     9562.219727    9315.419922
4     1269.729980  ...     9542.139648     9542.139648    9426.019531
5     1275.089966  ...     9538.280273     9647.959961    9525.410156
...           ...  ...             ...             ...            ...
6727  5487.029785  ...    38779.121094    38936.929688   38727.671875
6728          NaN  ...             NaN             NaN            NaN
6729  5473.169922  ...    38804.730469    39232.500000   38778.460938
6730  5464.620117  ...    39208.511719    39257.179688   39061.671875
6731  5447.870117  ...    39184.488281    39571.230469   39184.488281

      Close_dow_jones  Volume_dow_jones  Open_tech_sector  High_tech_sector  \
1         9184.269531        89410000.0         32.656250         33.562500
2         9311.190430        79860000.0         33.062500         34.031250
3         9544.969727       103340000.0         34.687500         34.937500
4         9537.759766        88290000.0         34.500000         35.031250
5         9643.320312       103250000.0         35.500000         35.562500
...               ...               ...               ...               ...
6727     38834.859375       324260000.0        231.350006        232.169998
6728              NaN               NaN               NaN               NaN
6729     39134.761719       397010000.0        232.449997        232.589996
6730     39150.328125       818670000.0        228.860001        229.759995
6731     39411.210938       373940000.0        225.639999        226.660004

      Low_tech_sector  Close_tech_sector  Volume_tech_sector
1           32.593750          33.000000            650600.0
2           33.062500          33.843750            295200.0
3           34.406250          34.843750            624700.0
4           34.281250          34.734375            534600.0
5           34.484375          34.875000            532800.0
...               ...                ...                 ...
6727       230.490005         231.410004           4338900.0
6728              NaN                NaN                 NaN
6729       228.039993         228.809998           6621500.0
6730       227.369995         228.410004           6780400.0
6731       222.360001         222.419998           6873900.0

[6731 rows x 26 columns]

C:\Users\blkeu\AppData\Local\Temp\ipykernel_3264\1116977434.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged[columns_to_fill] = df_merged[columns_to_fill].fillna(method='ffill')

In [11]:
df_merged = df_merged[df_merged['Date'] >= '1999-01-04']
print(df_merged.isnull().sum())

Date                    0
Value_interest        358
Value_inflation         0
Value_gdp               0
Value_unemployment      0
Value_cci               0
Open_sp500            322
High_sp500            322
Low_sp500             322
Close_sp500           322
Volume_sp500          322
Open_nasdaq           322
High_nasdaq           322
Low_nasdaq            322
Close_nasdaq          322
Volume_nasdaq         322
Open_dow_jones        322
High_dow_jones        322
Low_dow_jones         322
Close_dow_jones       322
Volume_dow_jones      322
Open_tech_sector      322
High_tech_sector      322
Low_tech_sector       322
Close_tech_sector     322
Volume_tech_sector    322
dtype: int64

In [14]:
df_merged = df_merged.dropna(how='any')
df_merged

,Date,Value_interest,Value_inflation,Value_gdp,Value_unemployment,Value_cci,Open_sp500,High_sp500,Low_sp500,Close_sp500,...,Open_dow_jones,High_dow_jones,Low_dow_jones,Close_dow_jones,Volume_dow_jones,Open_tech_sector,High_tech_sector,Low_tech_sector,Close_tech_sector,Volume_tech_sector
1,1999-01-04,4.69,164.700,9411.682,4.3,103.9,1229.229980,1248.810059,1219.099976,1228.099976,...,9184.009766,9350.330078,9122.469727,9184.269531,89410000.0,32.656250,33.562500,32.593750,33.000000,650600.0
2,1999-01-05,4.74,164.700,9411.682,4.3,103.9,1228.099976,1246.109985,1228.099976,1244.780029,...,9184.780273,9338.740234,9182.980469,9311.190430,79860000.0,33.062500,34.031250,33.062500,33.843750,295200.0
3,1999-01-06,4.73,164.700,9411.682,4.3,103.9,1244.780029,1272.500000,1244.780029,1272.339966,...,9315.419922,9562.219727,9315.419922,9544.969727,103340000.0,34.687500,34.937500,34.406250,34.843750,624700.0
4,1999-01-07,4.77,164.700,9411.682,4.3,103.9,1272.339966,1272.339966,1257.680054,1269.729980,...,9542.139648,9542.139648,9426.019531,9537.759766,88290000.0,34.500000,35.031250,34.281250,34.734375,534600.0
5,1999-01-08,4.86,164.700,9411.682,4.3,103.9,1269.729980,1278.239990,1261.819946,1275.089966,...,9538.280273,9647.959961,9525.410156,9643.320312,103250000.0,35.500000,35.562500,34.484375,34.875000,532800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6725,2024-06-14,4.20,313.225,28255.928,4.0,77.2,5424.080078,5432.390137,5403.750000,5431.600098,...,38528.390625,38595.238281,38305.851562,38589.160156,272200000.0,226.500000,227.800003,226.350006,227.669998,3932300.0
6726,2024-06-17,4.28,313.225,28255.928,4.0,77.2,5431.109863,5488.500000,5420.399902,5473.229980,...,38565.179688,38839.878906,38431.949219,38778.101562,346190000.0,228.229996,231.929993,227.449997,231.119995,5801300.0
6727,2024-06-18,4.22,313.225,28255.928,4.0,77.2,5476.149902,5490.379883,5471.319824,5487.029785,...,38779.121094,38936.929688,38727.671875,38834.859375,324260000.0,231.350006,232.169998,230.490005,231.410004,4338900.0
6729,2024-06-20,4.25,313.225,28255.928,4.0,77.2,5499.990234,5505.529785,5455.560059,5473.169922,...,38804.730469,39232.500000,38778.460938,39134.761719,397010000.0,232.449997,232.589996,228.039993,228.809998,6621500.0
6730,2024-06-21,4.25,313.225,28255.928,4.0,77.2,5466.770020,5478.310059,5452.029785,5464.620117,...,39208.511719,39257.179688,39061.671875,39150.328125,818670000.0,228.860001,229.759995,227.369995,228.410004,6780400.0

In [16]:
historical_df = pd.read_csv("../data/AAPL/AAPL_2024-06-24.csv")
historical_df['timestamp'] = pd.to_datetime(historical_df['timestamp'])
df_merged = pd.merge(df_merged, historical_df, left_on='Date', right_on='timestamp', how='inner')
df_merged

,Date,Value_interest,Value_inflation,Value_gdp,Value_unemployment,Value_cci,Open_sp500,High_sp500,Low_sp500,Close_sp500,...,High_tech_sector,Low_tech_sector,Close_tech_sector,Volume_tech_sector,timestamp,open,high,low,close,volume
0,1999-11-01,6.06,168.400,9900.169,4.1,107.2,1362.930054,1367.300049,1354.050049,1354.119995,...,42.968750,42.406250,42.437500,230800.0,1999-11-01,80.00,80.69,77.37,77.62,2487300
1,1999-11-02,6.04,168.400,9900.169,4.1,107.2,1354.119995,1369.319946,1346.410034,1347.739990,...,42.937500,42.140625,42.250000,156300.0,1999-11-02,78.00,81.69,77.31,80.25,3564600
2,1999-11-03,6.01,168.400,9900.169,4.1,107.2,1347.739990,1360.329956,1347.739990,1354.930054,...,43.125000,42.625000,42.875000,209200.0,1999-11-03,81.62,83.25,81.00,81.50,2932700
3,1999-11-04,5.95,168.400,9900.169,4.1,107.2,1354.930054,1369.410034,1354.930054,1362.640015,...,43.468750,42.906250,43.203125,409100.0,1999-11-04,82.06,85.37,80.62,83.62,3384700
4,1999-11-05,5.92,168.400,9900.169,4.1,107.2,1362.640015,1387.479980,1362.640015,1370.229980,...,44.250000,43.468750,43.671875,898000.0,1999-11-05,84.62,88.37,84.00,88.31,3721500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149,2024-06-14,4.20,313.225,28255.928,4.0,77.2,5424.080078,5432.390137,5403.750000,5431.600098,...,227.800003,226.350006,227.669998,3932300.0,2024-06-14,213.85,215.17,211.30,212.49,70122748
6150,2024-06-17,4.28,313.225,28255.928,4.0,77.2,5431.109863,5488.500000,5420.399902,5473.229980,...,231.929993,227.449997,231.119995,5801300.0,2024-06-17,213.37,218.95,212.72,216.67,93728300
6151,2024-06-18,4.22,313.225,28255.928,4.0,77.2,5476.149902,5490.379883,5471.319824,5487.029785,...,232.169998,230.490005,231.410004,4338900.0,2024-06-18,217.59,218.63,213.00,214.29,79943254
6152,2024-06-20,4.25,313.225,28255.928,4.0,77.2,5499.990234,5505.529785,5455.560059,5473.169922,...,232.589996,228.039993,228.809998,6621500.0,2024-06-20,213.93,214.24,208.85,209.68,86172451
6153,2024-06-21,4.25,313.225,28255.928,4.0,77.2,5466.770020,5478.310059,5452.029785,5464.620117,...,229.759995,227.369995,228.410004,6780400.0,2024-06-21,210.39,211.89,207.11,207.49,246421353

In [17]:
print(df_merged.isnull().sum())

Date                  0
Value_interest        0
Value_inflation       0
Value_gdp             0
Value_unemployment    0
Value_cci             0
Open_sp500            0
High_sp500            0
Low_sp500             0
Close_sp500           0
Volume_sp500          0
Open_nasdaq           0
High_nasdaq           0
Low_nasdaq            0
Close_nasdaq          0
Volume_nasdaq         0
Open_dow_jones        0
High_dow_jones        0
Low_dow_jones         0
Close_dow_jones       0
Volume_dow_jones      0
Open_tech_sector      0
High_tech_sector      0
Low_tech_sector       0
Close_tech_sector     0
Volume_tech_sector    0
timestamp             0
open                  0
high                  0
low                   0
close                 0
volume                0
dtype: int64

In [18]:
print([df_merged.columns])

[Index(['Date', 'Value_interest', 'Value_inflation', 'Value_gdp',
       'Value_unemployment', 'Value_cci', 'Open_sp500', 'High_sp500',
       'Low_sp500', 'Close_sp500', 'Volume_sp500', 'Open_nasdaq',
       'High_nasdaq', 'Low_nasdaq', 'Close_nasdaq', 'Volume_nasdaq',
       'Open_dow_jones', 'High_dow_jones', 'Low_dow_jones', 'Close_dow_jones',
       'Volume_dow_jones', 'Open_tech_sector', 'High_tech_sector',
       'Low_tech_sector', 'Close_tech_sector', 'Volume_tech_sector',
       'timestamp', 'open', 'high', 'low', 'close', 'volume'],
      dtype='object')]